# Ignore the .idea directory (for JetBrains IDEs)
.idea/

# Ignore Python cache files and directories
__pycache__/
*.pyc
*.html

# Ignore all .pth files
*.pth
*.pkl

# But don't ignore base.pth
!base.pth
